<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NLog" version="4.5.4" targetFramework="net461" />
  <package id="NLog.Config" version="4.5.4" targetFramework="net461" />
  <package id="NLog.Schema" version="4.5.4" targetFramework="net461" />
  <package id="NotificationsExtensions.Win10" version="14332.0.2" targetFramework="net461" />
  <package id="QueryString.NET" version="1.0.0" targetFramework="net461" />
</packages>